*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: lawngreen;
}

body{
    padding-top: 96px;
}

header{
    top: 0;
    position: fixed;
    width: 100%;
    background-color: darkgray;
    padding: 30px;
    border-radius: 0 0 10px 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

section{
    background-color: aquamarine;
    width: 400px;
    height: 400px;
    padding: 12px;
    border-radius: 10px;
    margin: 30px auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

section h2{
    margin-bottom: 20px;
    text-align: center;
}

section p{
    text-align: justify;
}
